/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-tablesorter/theme.default
 */

 * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
 * { font-family: 'Titillium Web'}

body {
  width: 100%;
  background-color: lightgray;
  padding: 0;
  margin: 0;
}

main {
  margin: 0 auto;
  padding-bottom: 3em;
  width: 100%;
  background-color: lightgray;
}

nav {
  font-size: 1em;
  line-height: 2em;
  margin: 0 auto;
  width: 100%;
  vertical-align: middle;
  overflow: hidden;
}

nav ul {
  width: inherit;
  display: inline-block;
  background-color: #333333;
  margin: 0 auto;
  padding: 0;
}

nav li, nav p {
  margin: 0 auto;
  display: inline-block;
  line-height: inherit;
}

nav li {
  margin: 0 auto;
  padding: 0 1em;
}

h1 {
  margin: .25em auto;
  font-size: 1.25em;
}

h2, h3 {
  margin: 1em auto;
  margin-bottom: .25em;
  width: 100%;
  text-align: center;
  color: grey;
}

h3 {
  color: black;
}

footer {
  width: 100%;
  line-height: 2em;
  padding-left: 2em;
  background-color: darkgrey;
}

a:link {
  text-decoration: none;
  color: #0073e6;
}

a:visited {
  color: #0073e6;
}

a:hover {
  border-bottom: 3px solid #0073e6;
}

.center {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.col {
  min-width: 140px !important;
  margin-top: 5px !important;
  display: table;
}

.columns-two,
.columns-five {
  width: 100%;
  margin: 0 auto;
}
.columns-two .col1,
.columns-two .col2 {
  width: 50%;
  display: inline-block;
}

.col1:first-child {
  padding-right: .5em;
}

.col2:last-child {
  padding-left: .5em
}

.columns-five .col {
  width: 19%;
  margin: 0 .5%;
  display: inline-block;
  border: 1px solid black;
  background-color: white;
  color: black;
}

.columns-five .col table {
  width: 100%;
  margin: 0;
}

.width_90 {
  width: 90%;
}

.pname {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 1.8em;
}

.win {
  color: green;
  font-weight: bold;
}

#site_nav{
  background-color: white;
}

#site_nav ul {
  width: 80%;
}

#site_nav li {
  width: 20%;
}

#logo {
  width: 20%;
  background-color: #0099ff;
  text-align: center;
}

@media(max-width: 480px){

  .col {
    width: 45% !important;
    padding: 0;
    margin-top: 5px !important;
  }

  .columns-five {
    width: 100%;
  }

}
