/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-tablesorter/theme.default
 */

 * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
  width: 100%;
  background-color: lightgray;
  padding: 0;
  margin: 0;
}

nav {
  font-size: 1em;
  line-height: 2em;
  margin: 0;
  width: 100%;
  vertical-align: middle;
  overflow: hidden;
}

nav ul {
  width: inherit;
  display: inline-block;
  background-color: gray;
  margin: 0 auto;
  padding: 0;
}

nav li, nav p {
  /*background-color: yellow;*/
  margin: 0;
  display: inline-block;
  line-height: inherit;
  /*border: 1px solid white;*/
}

nav li {
  margin: 0 auto;
  padding: 0 1em;
  /*width: 20%;*/
}

#site_nav{
  background-color: white;
}

#site_nav ul {
  width: 80%;
}

#logo {
  width: 20%;
  background-color: #0099ff;
  text-align: center;
}

main {
  width: 100%;
}

h2, h3 {
  width: 100%;
  text-align: center;
  color: red;
}

h3 {
  color: green;
}

footer {
  width: 100%;
  line-height: 2em;
  padding-left: 2em;
  background-color: darkgrey;
}

main {
  padding-bottom: 3em;
  width: 100%;
}

.center {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.columns-two {
  width: 90%;
  margin: 0 auto;
}
.columns-two .col1, .columns-two .col2 {
  width: 50%;
  display: inline-block;
}

.col1:first-child {
  padding-right: .5em;
}

.col2:last-child {
  padding-left: .5em
}

.width_90 {
  width: 90%;
  margin: 0 auto;
}
