// Place all the styles related to the homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.game_small,
.game_small_empty {
  margin: 1em auto;
}

.game_teams,
.game_teams_empty {
  padding-top: .25em;
}

.game_teams {
  border: 1px solid black;
  background-color: white;
}

.game_teams img {
  width: 100px;
  width: 10vw;
}

.game_time,
.game_boxscore_link {
  margin-top: .25em;
  padding-bottom: .25em;
}

caption img {
  width: 40%;
  width: 10vw;
}
