// Place all the styles related to the maintain_db controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#buttons {
  margin: 0 auto;
  width: 100%;
  // background-color: yellow;
}

#buttons ul {
  width: 100%;
  vertical-align: middle;
  margin: 0 auto;
  // background-color: blue;
}

#buttons ul li {
  margin: 0 35%;
  height: 4em;
  line-height: 4em;
  width:10em;
  display: inline-block;
  background-color: #33cc33;
  text-align: center;
  border-radius: 20px;
}
