// Place all the styles related to the player controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.r0 { background-color: white;}
.r1 { background-color: lightblue;}

#player_nav #nav_list {
  width: 50%;
  margin: 0 auto;
  border-top: 1px solid #FFFFFF;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

#player_nav #nav_list li {
  width: 33%;
  display: inline-block;
}
