// Place all the styles related to the team controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
th {
  background-color: gray;
}

.hide {
  position: absolute;
  left: -999em;
}

#team_nav {
  width: 50%;
  margin: 0 auto;
}

#team_nav #nav_list {
  width: 100%;
  margin: 0 auto;
  margin-top: 15px;
  border-top: 1px solid #FFFFFF;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

#team_info {
  width: 90%;
}

#team_info td, #team_info th {
  width: 25%;
}

#team_logo {
  padding-top: 2px;
  margin: 0 auto;
  width: 50%;
  background-color: white;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

#next_game img,
#team_results img {
  width: 60px;
  vertical-align: middle;
}

#team_best table {
  table-layout: fixed;
  min-width: 168px;
}

#team_best .col{
  min-width: 170px !important;
}

.h_62{
  height: 62px;
}
